astroid==2.6.5
certifi==2022.12.7
charset-normalizer==2.0.4
idna==3.2
isort==5.9.3
lazy-object-proxy==1.6.0
mccabe==0.6.1
mypy==0.910
mypy-extensions==0.4.3
pylint==2.9.6
requests==2.26.0
toml==0.10.2
types-requests==2.25.2
typing-extensions==3.10.0.0
urllib3==1.26.6
wrapt==1.12.1
